.table-responsive {
    margin-top: 20px;
}

.btn {
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-1px);
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    margin: 2rem auto;
}

.viewport {
  height: 1000px; /* adjust as needed */
  height: auto;      /* fit content if fewer rows */
  display: block;
  overflow: auto;
}
